/*csslint empty-rules: false, ids: false, qualified-headings: false, known-properties: false, box-sizing: false*/
/************************* TAG SELECTORS *************************/
body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #500000;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 1rem;
  box-sizing: border-box;
	display: block;
  margin: 0;
  min-height: 100px;
	padding: 5px 0;
	position: relative;
	width: 100%;
}

h1 {
	border: 0;
	box-sizing: border-box;
  color: #fff;
	font-size: 5.5em;
	font-weight: 800;
  margin: 0;
	padding: 0;
	text-shadow: rgba(43, 40, 40, 0.77) 4px 5px 5px;
}

h2 {
	border: 0;
	box-sizing: border-box;
	font-size: 4em;
  margin: 0;
	padding: 0;
	text-align: center;
}

h3 {
	border: 0;
	box-sizing: border-box;
	font-size: 2em;
	font-weight: bold;
  margin: 0;
	padding: 0 0 15px;
	position: relative;
}


/************************ CLASS SELECTORS ************************/
.caption {
  border: 0;
  bottom: 10%;
  box-sizing: border-box;
  left: 0;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

.caption-container {
  border: 0;
	box-sizing: border-box;
	margin: 0 auto;
  max-width: 100%;
	padding: 0 30px;
	width: 1270px;
}

.header-flex-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 30px;
}

.header-flex-container div {
  width: 33%;
}

.logo {
  display: flex;
  justify-content: center;
}

.phone-number {
  border: 0;
	box-sizing: border-box;
  color: #fff;
	display: inline-block;
	font-size: 1.5em;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.phone-number a {
  color: #fff;
  text-decoration: none;
}

.social-links {
	box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.social-links ul {
  border: 0;
	box-sizing: border-box;
	display: inline-block;
  list-style: none;
	margin: 0;
	padding: 0;
}

.social-links li {
  border: 0;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	position: relative;
}

.species-caption {
  box-sizing: border-box;
  height: 430px;
	margin: 0;
  margin-top: 5px;
	padding: 35px 10px 50px;
}

.species-caption p {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 1em;
	text-align: justify;
}

.species-container {
  border: 0;
	box-sizing: border-box;
	margin: 0 auto;
  max-width: 100%;
	padding: 0 30px;
	width: 1270px;
}

.species-container ul {
  border: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style: none;
	margin: 0;
	padding: 0;
  padding-top: 30px;
	position: relative;
	text-align: center;
}

.species-container li {
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  height: 700px;
	margin: 0 5px;
	padding: 0;
  width: 30%;
}

.species-section {
  border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 60px 0;
}


/************************* ID SELECTORS *************************/
