/*csslint empty-rules: false, ids: false, qualified-headings: false, known-properties: false, box-sizing: false, unique-headings: false, universal-selector: false, outline-none: false*/
/************************* TAG SELECTORS *************************/
body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  margin: 0;
}

footer {
  background-color: #500000;
  box-sizing: border-box;
	display: block;
  margin: 0;
  min-height: 50px;
	padding: 5px 0;
	position: relative;
	width: 100%;
}

header {
  background-color: #500000;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 1rem;
  box-sizing: border-box;
	display: block;
  margin: 0;
  min-height: 100px;
	padding: 5px 0;
	position: relative;
	width: 100%;
}

h1 {
	border: 0;
	box-sizing: border-box;
  color: #fff;
	font-size: 5.5em;
	font-weight: 800;
  margin: 0;
	padding: 0;
	text-shadow: rgba(43, 40, 40, 0.77) 4px 5px 5px;
}

h2 {
	border: 0;
	box-sizing: border-box;
	font-size: 4em;
  margin: 0;
	padding: 0;
	text-align: center;
}

h3 {
	border: 0;
	box-sizing: border-box;
	font-size: 2em;
	font-weight: bold;
  margin: 0;
	padding: 0 0 15px;
	position: relative;
}

li:focus {
  outline: none;
}


/************************ CLASS SELECTORS ************************/

.about-container {
  align-items: flex-end;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
	margin: 0 auto;
  max-width: 100%;
	padding: 0 30px;
  text-align: right;
	width: 1270px;
}

.about-section {
  background: #fff url("img/about-pat-background.png");
  background-color: light-blue;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  box-sizing: border-box;
  height: 580px;
  margin: 0;
	padding: 70px 0 0;
  position: relative;
  width: 100%;
}

.about-1 {
  border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  padding-bottom: 85px;
	width: 70%;
}

.about-1 h2 {
  text-align: right;
}

.about-2 {
  border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 60%;
}

.about-2 h3 {
  font-size: 3em;
}

.arrow{
  font-size: 5em;
  flex: 1;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.arrow:hover {
  cursor: pointer;
  font-weight: bold;
}

.big {
  font-weight: bolder;
  text-transform: uppercase;
}

.call-to-action {
  background-color: #f7f7f7;
  border: 0;
  box-sizing: border-box;
  color: #333;
  margin: 0;
  padding: 30px 0 35px 0;
}

.call-to-action-button {
  box-shadow: -3px 3px 10px 0 #663300;
	background-color:#ffcc00;
	border-radius:28px;
	border:1px solid #cc9900;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	padding:20px 36px;
	text-decoration:none;
	text-shadow:-1px 1px 1px #ff9900;
}

.call-to-action-button:hover {
	background-color:#ffcc99;
}

.call-to-action-button:active {
	position:relative;
	top:1px;
}

.call-to-action-container,
.photos-container {
  align-items: center;
  border: 0;
	box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	margin: 0 auto;
  max-width: 100%;
	padding: 0 30px;
	width: 1270px;
}

.call-to-action-container p {
  margin: 5px 0 40px 0;
}

.caption {
  border: 0;
  bottom: 10%;
  box-sizing: border-box;
  left: 0;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

.caption-container {
  border: 0;
	box-sizing: border-box;
	margin: 0 auto;
  max-width: 100%;
	padding: 0 30px;
	width: 1270px;
}

.credit {
  color: #fff;
}

.cta-banner {
  background: rgb(59, 59, 59);
  background-color: #500000;
  border: 0;
  border-radius: 0 0 15px 15px;
	box-sizing: border-box;
  left: 0;
	margin: 0 auto;
	padding: 15px 10px;
	position: fixed;
  right: 0;
  text-align: center;
	top: 0;
	width: 600px;
	z-index: 2;
}

.cta-banner-container {
  align-items: center;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.cta-banner-container a {
  color: #fff;
  text-decoration: none;
}

.cta-banner-container li {
  border: 0;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	position: relative;
}

.cta-banner-container span {
  align-items: flex-start;
  justify-content: space-between;
}

.cta-banner-container ul {
  border: 0;
	box-sizing: border-box;
	display: inline-block;
  list-style: none;
	margin: 0;
	padding: 0;
}

.cta-phone-number {
  border: 0;
	box-sizing: border-box;
  color: #fff;
	display: inline-block;
	font-size: 2em;
  height: 100%;
  margin: 0 15px;
  padding: 0;
}

.footer-container {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-flex-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 30px;
}

.header-flex-container div {
  width: 33%;
}

.invisible {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
}

.maps-container li,
.testimonial-container li {
  border: 0;
  box-sizing: border-box;
  display: inline-block;
	margin: 0 5px;
	padding: 0;
  width: 30%;
}


.maps-container ul,
.species-container ul,
.testimonial-container ul {
  border: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  list-style: none;
	margin: 0;
	padding: 0;
  padding-top: 30px;
	position: relative;
	text-align: center;
}

.maps-section,
.testimonial-section {
  border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 50px 0 60px 0;
}

.phone-number {
  border: 0;
	box-sizing: border-box;
  color: #fff;
	display: inline-block;
	font-size: 1.5em;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.phone-number a {
  color: #fff;
  text-decoration: none;
}

.photo {
  justify-content: center;
  display: flex;
  height: 400px;
  width: 750px;
}

.photos {
  align-items: center;
  display: flex;
}

.photos-section {
  background-color: green;
  border: 0;
  box-sizing: border-box;
  margin: 0;
	padding: 70px 0 70px 0;
  position: relative;
  width: 100%;
}

.reviewer img {
  border-radius: 50%;
}

.social-links {
	box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.social-links ul {
  border: 0;
	box-sizing: border-box;
	display: inline-block;
  list-style: none;
	margin: 0;
	padding: 0;
}

.social-links li {
  border: 0;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	position: relative;
}

.species-caption {
  box-sizing: border-box;
  height: 300px;
	margin: 0;
  margin-top: 5px;
	padding: 35px 10px;
}

.species-caption p {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 1em;
	text-align: justify;
}

.species-container,
.testimonial {
  border: 0;
	box-sizing: border-box;
	margin: 0 auto;
  max-width: 100%;
	padding: 0 30px;
	width: 1270px;
}

.species-container li {
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  height: 700px;
	margin: 0 5px;
	padding: 0;
  width: 30%;
}

.species-section {
  border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 60px 0 20px 0;
}

.testimonial-container h4, h5 {
  margin: 5px;
}
